<h2>Nouveau investissement</h2>
<form action="/investissements" method="POST" enctype="multipart/form-data">
  <%- include('_form_fields') %>
  <a href="/investissements">Annuler</a>
  <button type="submit">Créer</button>
</form>
