<header>
  <nav>
    <a href="/">MAZARS'S INVESTMENTS</a>
    <ul>
      <li><a href="/countries">Countries / Organization</a></li>
      <li><a href="/countries/new">Add Country / Organization</a></li>
      <li><a href="/investments">Investments</a></li>
      <li><a href="/investments/new">Add Investment</a></li>
    </ul>
  </nav>
</header>
