<header>
  <nav>
    <a href="/">Let's Invest!</a>
    <ul>
      <li><a href="/countries">Countries</a></li>
      <li><a href="/countries/new">Add Country</a></li>
      <li><a href="/investments">Investments</a></li>
      <li><a href="/investments/new">Add Investment</a></li>
    </ul>
  </nav>
</header>
