<header>
  <nav>
    <a href="/">MAZARS</a>
    <ul>
      <li><a href="/payss">Pays </a></li>
      <li><a href="/payss/nouveau">Ajouter un pays</a></li>
      <li><a href="/secteurs">Secteurs </a></li>
      <li><a href="/secteurs/nouveau">Ajouter un secteur</a></li>
      <li><a href="/filieres">Filière </a></li>
      <li><a href="/filieres/nouveau">Ajouter une filière</a></li>
      <li><a href="/investissements">investissements</a></li>
      <li><a href="/investments/nouveau">Ajouter un investissement</a></li>
    </ul>
  </nav>
</header>
