<h2>Edit Country / Organization</h2>
<form action="/countries/<%= country.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/countries/<%= country.id %> ">Cancel</a>
  <button type="submit">Update</button>
</form>
