<h2>Search country</h2>
<form action="/countries" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>" />
  <button type="submit">Search</button>
</form>
<br />
<% countries.forEach(country => { %>
<div><%= country.name %></div>
<% }) %>
