<h2>Search Investment</h2>
<form action="/investments" method="GET">
  <label>Title</label>
  <input type="text" name="name" value="<%= searchOptions.name %>" />
  <button type="submit">Search</button>
</form>
<br />
<% investments.forEach(investment => { %>
<div><%= investment.name %></div>
<% }) %>
