<h2>Search investment</h2>
<form action="/investments" method="GET">
  <div>
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>" />
  </div>
  <div>
    <label>CreatedAt</label>
    <input
      type="date"
      name="CreatedAt"
      value="<%= searchOptions.CreatedAt %>"
    />
  </div>
  <div>
    <label>Country</label>
    <input type="text" name="country" value="<%= searchOptions.country %>" />
  </div>
  <button type="submit">Search</button>
</form>
<div>
  <% investments.forEach(investment => { %>
  <div><%= investment.title %></div>
  <% }) %>
</div>
